* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ------------- GLOBAL ------------- */
  /* Farver */

  /* Typescale (1.250 Major Third) */
  /* Font scale heading */
  --text-9: 3.052rem;
  --text-8: 2.441rem;
  --text-7: 1.953rem;
  --text-6: 1.563rem;
  --text-5: 1.25rem;

  /* Font scale body text */
  --text-4: 1rem;
  --text-3: 0.8rem;
  --text-2: 0.64rem;
  --text-1: 0.512rem;

  /* ------------- ALIAS ------------- */
  /* Farver */
  --primary_blue: #1f9ecd;
  --primary_black: #323332;
  --primary_white: #fcfcfc;
  --secondary_beige: #f1f1e8;
  --secondary_eggwhite: #fcfbfa;
  --accent_green: #2ca900;
  --secondary_black: #272727;

  /* Font */
  --heading-h1: var(--text-8);
  --heading-h2: var(--text-7);
  --heading-h3: var(--text-6);
  --heading-h4: var(--text-5);
  --heading-h5: var(--text-3);
  --body-default: var(--text-4);

  /* ------------- COMPONENTS ------------- */
  /* Header */
  --primary_menu_bg: var(--primary_blue);
  --secondary_menu_bg: var(--secondary_eggwhite);

  /* Footer */
  --footer_black_bg: var(--primary_black);

  /* Font */
  --font_black: var(--primary_black);
  --font_white: var(--primary_white);

  /* Buttons */
  --cta_green: var(--accent_green);
  --cta_blue: var(--primary_blue);
  --cta_black: var(--primary_black);

  /* Andet */
  --infoboks_bg: var(--secondary_beige);

  /* SPACING */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-md2: 2.1rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
}

.cookieboks {
  font-family: "Barlow", sans-serif;
  height: auto;
}

.cookietekst {
  font-family: "Poppins", "sans-serif";
}

body {
  font-family: "Barlow", sans-serif;
  font-size: var(--body-default);
  line-height: 1.5;
  background-color: var(--primary_white);
  color: var(--font_black);
}

h1,
.heading-1 {
  font-size: var(--heading-h1);
  font-weight: 800;
  text-transform: uppercase;

  line-height: 1.1;
  /* margin-top: 0; */
  margin-bottom: var(--spacing-xxs);
}

h2,
.heading-2 {
  font-size: var(--heading-h2);
  font-weight: 800;
  margin-bottom: var(--spacing-xxs);
}

h3,
.heading-3 {
  font-size: var(--heading-h3);
  font-weight: 500;
  margin-bottom: var(--spacing-xxs);
}

h4,
.heading-4 {
  font-size: var(--heading-h4);
  font-weight: 700;
}

h5,
.heading-5 {
  font-size: var(--heading-h5);
}

p {
  font-family: "Poppins", sans-serif;
  max-width: 65ch;
}

/*Burgermenu*/
.showMenu {
  transform: translateY(0);
}

/* Hover effekt */
.ikon:hover {
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
