---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "..//styles/style.css";
---

<MainLayout
  title="3. SEM - Eksamensprojekt"
  splash_title="ADOPTER DIN NYE BEDSTE VEN"
  splash_description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem."
  imgPath="/splash/splash-adopter.webp"
  intro_title="Se vores søde dyr, der søger et nyt hjem"
  intro_description="Skab en forskel i et kæledyrs liv ved at adoptere et af vores kærlige dyr. Fra legesyge hunde til kælne katte - vores adoptable dyr venter på deres nye familie."
>
  <main>
    <section class="max-w-sm md:max-w-3xl lg:max-w-6xl mx-auto">
      <article
        class="grid grid-cols-3 gap-4 md:max-w-3xl max-w-sm lg:max-w-6xl mx-auto pb-24"
      >
        <div class="flex flex-col items-center justify-start">
          <img src="../splash/1.png" alt="Hund" class="w-28 pb-10" />
          <div class="text-center md:w-52">
            <h5 class="text-sm pb-2">FIND DIT DRØMMEDYR</h5>
            <p class="text-xs">
              Find netop det dyr der passer perfekt i dit hjem.
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center justify-start">
          <img src="../splash/2.png" alt="Hund" class="w-32 pb-10" />
          <div class="text-center md:w-52">
            <h5 class="text-sm pb-2">KOM PÅ BESØG</h5>
            <p class="text-xs">
              Kom i åbningstiden og hør mere info om det pågældende dyr, du er
              faldet for.
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center justify-start">
          <img src="../splash/3.png" alt="Hund" class="w-28 pb-10" />
          <div class="text-center md:w-52">
            <h5 class="text-sm pb-2">UDFYLD ANSØGNING</h5>
            <p class="text-xs">
              Vurderer vi, du er et match, udfylder du en ansøgning og godkendes
              eventuelt til adoption.
            </p>
          </div>
        </div>
      </article>
    </section>

    <section class="max-w-sm md:max-w-3xl lg:max-w-6xl mx-auto">
      <article>
        <div class="flex justify-between">
          <h2>HUNDE</h2>
          <h4 class="underline">SE MERE</h4>
        </div>
      </article>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-8">
        <div class="grid md:col-start-1">
          <Card
            title=" BASSE "
            description=" I Basses tidligere familie var der små børn, der desværre var bange for denne smukke skabning, og man måtte indse, at samlivet ikke kunne fungere optimalt for alle parter."
            imgPath="/adoption/basse.webp"
            kategori="Schæfer / Husky / Border / Berner"
            link_side="singleview.html"
          />
        </div>
        <div class="grid md:col-start-2 pb-2">
          <Card
            title="KARLO"
            description=" Vores lille mini-Chewbacca her skal lige se nye folk an, før han overgiver sig helt, så ny familie må ikke forvente instant connection"
            imgPath="/adoption/karlo.webp"
            kategori="Lhasa Apso / Cavalier King Charles"
            link_side="singleview.html"
          />
        </div>
        <div class="grid md:col-start-1 lg:col-start-3">
          <Card
            title="ZICO"
            description=" Zico er en flot fyr på kun 7 måneder, der er overdraget til Dyreværnet, da Zico og tidligere ejer var landet i en dårlig spiral, der påvirkede begge parter negativt, så noget måtte gøres."
            imgPath="/adoption/zico.png"
            kategori="Labrador-blanding"
            link_side="singleview.html"
          />
        </div>
      </div>

      <article class="mt-10">
        <div class="flex justify-between">
          <h2>KATTE</h2>
          <h4 class="underline">SE MERE</h4>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 justify-center gap-8">
          <div class="grid col-start-1">
            <Card
              kategori="Udekat"
              title="KILLING"
              description=" Killing er en skøn rød/hvid kattepige, der er glad for større børn, og har boet sammen med mindre hund også. "
              imgPath="/adoption/killing.webp"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-2">
            <Card
              kategori="Indekat"
              title="PJUSKE"
              description=" Pjuske er en meget social pige, der elsker alle mennesker og har været vant til børnebørn mellem 3-12 på besøg, hvilket har været SÅ skønt."
              imgPath="/adoption/pjuske.webp"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-3">
            <Card
              kategori="Udekat"
              title="PURRSEIDON"
              description="Purrseidon er en stor og flot hankat, der har haft et noget turbulent og voldsomt liv som ikke kastreret hankat, indtil nu. "
              imgPath="/adoption/purrisedon.webp"
              link_side="singleview.html"
            />
          </div>
        </div>
      </article>
    </section>

    <section>
      <article
        class="mt-10 flex items-center justify-center bg-[url('/splash/ninus.webp')] h-96 bg-blend-darken bg-cover bg-center"
      >
        <div class="text-center text-primary_white">
          <h1 class="pb-10">Hjælp os med at give dyrene en god oplevelse</h1>
          <Button variant="primary_green" size="medium" link_side="stot.html">
            STØT
          </Button>
        </div>
      </article>
    </section>

    <section class="mt-10 mb-10 max-w-sm md:max-w-3xl lg:max-w-6xl mx-auto">
      <article>
        <div class="flex justify-between">
          <h2 class="">SMÅDYR</h2>
          <h4 class="underline">SE MERE</h4>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 justify-center gap-8">
          <div class="grid col-start-1">
            <Card
              kategori="Dværgkanin"
              title="WATERLOO "
              description=" Killing er en skøn rød/hvid kattepige, der er glad for større børn, og har boet sammen med mindre hund også. "
              imgPath="/adoption/waterloo.webp"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-2">
            <Card
              kategori="Glathåret marsvin"
              title="SØREN"
              description=" Pjuske er en meget social pige, der elsker alle mennesker og har været vant til børnebørn mellem 3-12 på besøg, hvilket har været SÅ skønt."
              imgPath="/adoption/soren.webp"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-3">
            <Card
              kategori="Ørkenrotte"
              title="STARSTRUCK"
              description="Purrseidon er en stor og flot hankat, der har haft et noget turbulent og voldsomt liv som ikke kastreret hankat, indtil nu. "
              imgPath="/adoption/starstruck.webp"
              link_side="singleview.html"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 justify-center gap-8 pt-10">
          <div class="grid col-start-1">
            <Card
              kategori="Schecke / løvehoved kanin"
              title="FYLGJA"
              description=" Killing er en skøn rød/hvid kattepige, der er glad for større børn, og har boet sammen med mindre hund også. "
              imgPath="/adoption/fylgja.webp"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-2">
            <Card
              kategori="Dværgkanin"
              title="EMBLA"
              description=" Pjuske er en meget social pige, der elsker alle mennesker og har været vant til børnebørn mellem 3-12 på besøg, hvilket har været SÅ skønt."
              imgPath="/adoption/embla3.png"
              link_side="singleview.html"
            />
          </div>
          <div class="grid col-start-3">
            <Card
              kategori="Glathåret marsvin"
              title="LULU"
              description="Purrseidon er en stor og flot hankat, der har haft et noget turbulent og voldsomt liv som ikke kastreret hankat, indtil nu. "
              imgPath="/adoption/Lulu.webp"
              link_side="singleview.html"
            />
          </div>
        </div>
      </article>
    </section>
  </main>
</MainLayout>
