---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import "..//styles/style.css";
---

<MainLayout
  title="3. SEM - Eksamensprojekt"
  splash_title="Donation"
  splash_description="Din donation har magten til at forvandle og redde liv. Når du støtter os med en donation, giver du dyrene en anden chance for et bedre liv."
  imgPath="/public/splash/donation.jpg"
  intro_title="Din donation gør en forskel"
  intro_description="Vi har gjort det nemt og enkelt at bidrage med en donation. Vælg mellem en enkel, månedlig eller virksomheds-donation og udfyld formularen."
>
  <!-- Indsæt indhold i main her -->

  <div class="grid lg:grid-cols-2 gap-10">
    <!-- Form -->
    <section class="form-content mb-8" id="step" x-data="{ step: 'step1' }">
      <header class="pb-8">
        <p class="pb-2">Gennemfør din donation på 4 enkle trin:</p>
        <ul class="">
          <li
            class="inline pr-2"
            :class="{'border-black border-b': step === 'step1' }"
          >
            1: Udvælg
          </li>
          <li
            class="inline pr-2"
            :class="{'border-black border-b': step === 'step2' }"
          >
            2: Oplysninger
          </li>
          <li
            class="inline pr-2"
            :class="{'border-black border-b': step === 'step3' }"
          >
            3: Betaling
          </li>
          <li
            class="inline pr-2"
            :class="{'border-black border-b': step === 'step4' }"
          >
            4: Bekræftelse
          </li>
        </ul>
      </header>

      <!-- step 1 -->
      <div id="step1" x-show="step === 'step1'">
        <p class="mb-4">Vælg din donationstype.</p>
        <form id="form" class="grid grid-cols-3">
          <Card
            title="Enkel donation"
            description="Med denne mulighed donerer du et engangsbeløb og du bestemmer selv beløbets størrelse."
            imgPath="/public/ikoner/hjerte-ikon.png"
          />
          <Card
            title="Månedlig donation"
            description=" De fleste vælger denne mulighed, hvor du kan vælge, hvilket beløb du ønsker at støtte dyrene med hver måned."
            imgPath="/public/ikoner/hjerte-ikon.png"
          />
          <Card
            title="Virksomhedsdonation"
            description="Vil din virksomhed hjælpe Dyreværnet med at redde dyr? Man kan hjælpe med en donation eller ved at blive sponsor."
            imgPath="/public/ikoner/hjerte-ikon.png"
          />
        </form>
      </div>

      <!-- step 2-->
      <div id="step2" x-show="step === 'step2'">
        <p class="mb-4">
          Vælg dit beløb og udfyld dine personlige oplysninger.
        </p>

        <!-- Radio button -->
        <div class="grid gap-8">
          <div class="grid gap-2">
            <div>
              <input type="radio" name="donation" value="200" />
              <label for="200">200 DKK</label>
            </div>
            <div>
              <input type="radio" name="donation" value="300" />
              <label for="300">300 DKK</label>
            </div>
            <div>
              <input type="radio" name="donation" value="400" />
              <label for="400">400 DKK</label>
            </div>
            <div>
              <input type="radio" name="donation" value="andet" />
              <label for="andet">Andet</label>
            </div>
          </div>

          <div class="grid gap-3">
            <div class="grid gap-1">
              <label for="full-name">Fulde navn</label>
              <input
                id="full-name"
                name="full-name"
                type="text"
                placeholder="Indtast fulde navn"
                class="border rounded-lg border-primary_black block px-3 py-1"
              />
            </div>

            <div class="grid gap-1">
              <label for="email">E-mail</label>
              <input
                id="email"
                name="email"
                type="email"
                placeholder="Indtast email"
                class="border rounded-lg border-primary_black block px-3 py-1"
              />
            </div>

            <div class="grid gap-1">
              <label for="telefon-nummer">Telefonnummer</label>
              <input
                id="telefon-nummer"
                name="tnummer"
                type="tel"
                placeholder="Indtast telefonnummer"
                class="border rounded-lg border-primary_black block px-3 py-1"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- step 3 -->
      <div id="step3" x-show="step === 'step3'">
        <p class="mb-4">Vælg din betalingsmetode og udfyld dine oplysninger.</p>

        <div class="grid gap-3">
          <div>
            <input type="radio" name="payment" value="kort" />
            <label for="kort">Betalingskort</label>
          </div>

          <div class="grid gap-1">
            <label for="name-card">Navn på kortet</label>
            <input
              id="name-card"
              name="name-card"
              type="text"
              placeholder="Indtast navn på kortet"
              class="border rounded-lg border-primary_black block px-3 py-1"
            />
          </div>

          <div class="grid gap-1">
            <label for="number-card">Kortnummer</label>
            <input
              id="number-card"
              name="number-card"
              type="text"
              placeholder="Indtast kortnummer"
              class="border rounded-lg border-primary_black block px-3 py-1"
            />
          </div>

          <div class="grid lg:grid-cols-2 gap-3">
            <div class="grid gap-1">
              <label for="expiration">Udløbsdato</label>
              <input
                id="expiration"
                name="expiration"
                type="text"
                placeholder="MM/ÅÅ"
                class="border rounded-lg border-primary_black block px-3 py-1"
              />
            </div>

            <div class="grid gap-1">
              <label for="control">Kontrolcifre</label>
              <input
                id="control"
                name="control"
                type="text"
                placeholder="000"
                class="border rounded-lg border-primary_black block px-3 py-1"
              />
            </div>
          </div>

          <div>
            <input type="radio" name="payment" value="mobilepay" />
            <label for="mobilepay">MobilePay</label>
          </div>
        </div>
      </div>

      <!-- step 4-->
      <div id="step4" x-show="step === 'step4'">
        <h2 class="text-primary_blue mb-4">Tak for din donation!</h2>
        <p>
          Vi sender detaljer om din donation til den angivne mailadresse. Du vil
          modtage en bekræftelse, kvittering og yderligere information om vores
          organisation og hvordan din støtte hjælper dyrene i nød. <br /><br
          />Vi sætter stor pris på din generøsitet og takker dig for at være en
          del af vores indsats for dyrevelfærd.<br /><br /> Hvis du har spørgsmål
          eller brug for yderligere hjælp, er du velkommen til at kontakte os. Vi
          er her for at hjælpe dig. <br /><br />Tak igen for din donation!<br
          /><br /> Med venlig hilsen,<br /><br />Dyreværnet.
        </p>
      </div>

      <footer class="flex justify-between py-8">
        <div class="">
          <button
            id="knap2"
            class="border-2 border-black p-2"
            x-on:click="step = 'step1'"
            x-show="step === 'step2'"
          >
            &LeftArrow; Udvælg
          </button>

          <button
            id="knap3"
            class="border-2 border-black p-2"
            x-on:click="step = 'step2'"
            x-show="step === 'step3'"
          >
            &LeftArrow; Oplysninger
          </button>

          <button
            id="knap4"
            class="border-2 border-black p-2"
            x-on:click="step = 'step3'"
            x-show="step === 'step4'"
          >
            &LeftArrow; Betaling
          </button>
        </div>

        <div class="">
          <button
            id="knap2"
            class="border-2 border-black p-2"
            x-on:click="step = 'step2'"
            x-show="step === 'step1'"
          >
            Oplysninger &RightArrow;
          </button>

          <!-- <Button
            id="knap2"
            x-on:click="step = 'step2'"
            x-show="step === 'step1'"
            variant="secondary"
            size="small"
          >
            Oplysninger &RightArrow;
          </Button> -->

          <button
            id="knap3"
            class="border-2 border-black p-2"
            x-on:click="step = 'step3'"
            x-show="step === 'step2'"
          >
            Betaling &RightArrow;
          </button>

          <button
            id="knap4"
            class="border-2 border-black p-2"
            x-on:click="step = 'step4'"
            x-show="step === 'step3'"
          >
            Bekræftelse &RightArrow;
          </button>

          <button
            id="knap4"
            class="border-2 border-black bg-green-200 p-2"
            x-on:click="step = 'step4'"
            x-show="step === 'step4'"
          >
            Tilbage
          </button>
        </div>
      </footer>
    </section>

    <!-- Info -->
    <section class="info lg:row-start-1">
      <div class="mb-5">
        <h3>Bankoverførsel</h3>
        <p>
          Du kan også overføre et beløb til vores donationskonto: 5329 -
          0242143.
        </p>
      </div>

      <div class="mb-5">
        <h3>Vores dedikation siden 1898</h3>
        <p>
          Siden 1898 har vi hjulpet dyr fra et liv med misrøgt, svigt og
          usikkerhed til et liv med kærlighed, omsorg og i sidste ende: En
          blivende familie.
        </p>
      </div>

      <div>
        <h3>Spar 10% på din dyreforsikring</h3>
        <p>
          Vidste du, at når du støtter Dyreværnet - som fast bidragsyder eller
          som medlem - kan du få 10% på din dyreforsikring hos vores
          samarbejdspartner og hovedsponsor Agria Dyreforsikring.
        </p>
      </div>
    </section>
  </div>

  <!-- Spørgsmål / Kommentarer -->
  <!-- Hvordan fikser jeg cardsene? Fjerner overflow? -->
  <!-- Jeg har anvendt mb-5 (få defineret/brugt en rigtig spacing) -->
  <!-- Hvordan kan jeg anvende min egen button-komponent? -->
  <!-- Kan jeg lave en stepper? -->
</MainLayout>
