---
import MainLayout from "../layouts/MainLayout.astro";
import "..//styles/style.css";
import Fakta from "../components/Fakta.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
---

<MainLayout
  title="Indlever - Dyreværnet"
  splash_title="INDLEVER DIT KÆLEDYR TIL OS"
  splash_description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem."
  imgPath="/splash/splash-indlever.webp"
  intro_title="Lad os finde en kærlig familie til dit dyr "
  intro_description="Slår dit liv en kolbøtte? Uanset om det er på grund af sundhed eller flytning, så er vi her til at hjælpe din ven trygt videre i et nyt og kærligt hjem."
  metacontent="Indlever dit kæledyr på internatet og hjælp den med at få et nyt hjem."
>
  <section class="max-w-sm md:max-w-3xl lg:max-w-6xl mx-auto">
    <section class="grid grid-cols-3 mb-8">
      <div class="flex flex-col items-center justify-start">
        <img
          src="../splash/1.png"
          alt="find dit drømmedyr"
          class="w-28 pb-10"
        />
        <div class="text-center md:w-52">
          <h5 class="text-sm pb-2 uppercase">1) Undersøg indlevering</h5>
          <p class="text-xs">
            Undersøg kriterier for indlevering samt hvilke dyr vi modtager.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start">
        <img src="../splash/2.png" alt="kom på besøg" class="w-28 pb-10" />
        <div class="text-center md:w-52">
          <h5 class="text-sm pb-2 uppercase">2) Kontakt os</h5>
          <p class="text-xs">
            Ring til os på hverdage mellem 9.30 - 12.00 på telefon+45 44 94 66
            95.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start">
        <img src="../splash/3.png" alt="udfyld ansøgning" class="w-28 pb-10" />
        <div class="text-center md:w-52">
          <h5 class="text-sm pb-2 uppercase">3) Aftale</h5>
          <p class="text-xs">
            Hvis vi vurderer, at dyret er omplaceringsegnet, aftales den videre
            proces.
          </p>
        </div>
      </div>
    </section>

    <section class="">
      <section class="md:grid md:grid-cols-2 md:gap-8">
        <div class="">
          <h2>PRAKTISKE INFORMATIONER</h2>
          <p class="pb-8">
            Når man indleverer et dyr til Dyreværnet, starter processen typisk
            med en grundig vurdering af dyrets tilstand og behov. Det kan
            omfatte en fysisk sundhedskontrol og en adfærdsmæssig vurdering for
            at få et indblik i dyrets temperament og eventuelle særlige krav.
            Dyreværnets dyrepassere og veterinærer er eksperter i at håndtere
            forskellige dyr og sikre deres trivsel.
          </p>
        </div>

        <div class="bg-secondary_beige rounded-lg p-8">
          <Fakta
            header="praktiske informationer"
            text="...Ring til os på hverdage mellem 9.30 - 12.00 på telefonnummer 4494 6695"
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Er dyret omplaceringsegnet, oplyses vigtige informationer (eks. hundens chipnummer, kan dyret med andre dyr, hvordan er det med børn, sundhedshistorik osv."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta text="...Herefter aftales den videre proces.">
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Dyreværnet har et indleveringsgebyr, som du kan få oplyst ved at kontakte os"
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
        </div>
      </section>

      <section class="pt-10 md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h2>FÅ HJÆLP FRA SPECIALISTERNE</h2>
          <p class="pb-2">
            Dyreværnets adoptionsteam har lang erfaring i at finde det perfekte
            match til hver eneste skønne, sunde hund, kat eller smådyr, der
            vurderes omplaceringsegnet.
          </p>
          <p class="pb-2">
            Vi er specialister i at stille alle de rette spørgsmål både om
            kæledyret, og når de interviewer potentielle nye familier.
          </p>
          <p class="pb-8">
            Hos Dyreværnet kommer dyrets bedste altid i første række, så
            adoptionsprocessen er grundig.
          </p>
        </div>

        <div class="bg-secondary_beige rounded-lg p-8">
          <Fakta
            header="om omplaceringsprocessen"
            text="...Hver dag omplacerer vi i gennemsnit fire kæledyr"
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Hvalpe matches før de ankommer, så hvalpen oplever et minimum af forandringer i dens liv."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Familiehunde bliver typisk matchet med ny, kærlig familie i løbet af 7-9 dage"
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
        </div>
      </section>

      <section class="md:grid md:grid-cols-2 pt-10 md:gap-8">
        <div>
          <h2>EN TYPISK DAGLIGDAG FOR DYRENE</h2>
          <p class="pb-2">
            Den vigtigste opgave, for vores dedikerede og erfarne dyrepassere,
            adfærdsrådgivere og dyrlæger, er at sikre, at dyrene trives og har
            det godt.
          </p>
          <p class="pb-8">
            Vores dyreglade praktikanter og mere end 100 frivillige møder
            dagligt op og hjælper til med hundeluftning, nus og kæl samt
            rengøring.
          </p>
        </div>

        <div class="bg-secondary_beige rounded-lg p-8">
          <Fakta
            header="dyrernes trivsel "
            text="...Alle hunde får dagligt minimum tre gåture"
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta text="...Alle hunde har eget indendørs- og udendørs areal.">
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Alle hunde får tildelt en hundekurv med dyner og tæpper. Derudover er der varme i gulvet."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Alle katte, kaniner og smådyr har eget værelse, med mulighed for at komme ud."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Der er daglig rengøring hos alle dyrene i vores pleje."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
          <Fakta
            text="...Vi sparer ikke på nus og kærlighed. Vi elsker at være omgivet af dyr, og det får dyrene også at mærke."
          >
            <img src="/ikoner/blue_paw.svg" alt="iconlist" />
          </Fakta>
        </div>
      </section>
    </section>

    <section class="pt-10">
      <div>
        <h2 class="uppercase">Testimonials fra dyreejere</h2>
        <p>
          Læs her tre testimonials fra dyreejere, som valgte at lade os hjælpe
          dem med at finde et nyt hjem til deres kæledyr.
        </p>
      </div>
      <div class="grid lg:grid-cols-3 gap-8">
        <TestimonialCard
          kategori="TESTIMONIAL"
          title="»De dygtigste matchmakere«"
          description="“Det var aldrig en mulighed at finde andre end Dyreværnet til at finde et nyt hjem til Buller. Jeg kender siden med opdateringer fra de nye hjem, og at de ikke afliver, fordi de skal bruge et tomt bur. De er dygtige matchmakere, og det var vigtigt for mig, at Buller skulle være glad fra dag 1.“"
          ejer="Betina, tidligere ejer af Buller"
          imgPath="/indlever/buller-testimonial-1.webp"
        />
        <TestimonialCard
          kategori="TESTIMONIAL"
          title="»Snowy fandt et nyt hjem på kun 7 dage!«"
          description="“Vi havde faktisk opgivet håbet om at omplacere Snowy og tid til aflivning blev bestilt. Så blev vi via Facebook gjort opmærksomme på Dyreværnet, og det var Snowys sidste udvej. 20 timer før aflivning kørte vi ind til Dyreværnet, og 7 dage efter havde Snowy fået et nyt hjem.“"
          ejer="Michael, tidligere ejer af Snowy"
          imgPath="/indlever/snowy-testimonial-2.webp"
        />
        <TestimonialCard
          kategori="TESTIMONIAL"
          title="»Dyreværnet er omhyggelige«"
          description="“Vi har valgt Dyreværnet, fordi de har en meget grundig tilgang til omplacering, og fordi vi ved, at de vil tage sig godt af Sia. Jeg ville ønske, at Sias tidligere ejer havde været ærlig. I stedet måtte hele familien – inklusive Sia – igennem en følelsesmæssig rutsjetur og unødig stress."
          ejer="Susanne, tidligere ejer af Sia "
          imgPath="/indlever/sia-testimonial-3.webp"
        />
      </div>
    </section>
  </section>
</MainLayout>
