---
import MainLayout from "../layouts/MainLayout.astro";
import "..//styles/style.css";
import Fakta from "../components/Fakta.astro";
import Card from "../components/Card.astro";
---

<MainLayout
  title="Sitemap - Dyreværnet"
  splash_title="Sitemap"
  imgPath="/public/splash/splash-om.webp"
>
  <div class="max-w-6xl mx-auto">
    <h2>Dyreværnet - Sitemap.html</h2>
    <ul>
      <li><a href="https://www.amagerbryghus.dk/">Forside</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Adopter</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Indlever</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Rådgivning</a></li>
      <li>
        <a href="https://www.amagerbryghus.dk/">Anmeld dyreværnssag</a>
      </li>
      <li><a href="https://www.amagerbryghus.dk/">Om Dyreværnet</a></li>
      <li>
        <a href="https://www.amagerbryghus.dk/">Støt</a><ul>
          <li><a href="https://www.amagerbryghus.dk/">Donation</a></li>
        </ul>
      </li>
      <li><a href="https://www.amagerbryghus.dk/">TV</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Frynseklinikken</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Dyreklinik</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Hittedyr</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Hundepension</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Bliv sponsor</a></li>
      <li><a href="https://www.amagerbryghus.dk/">Bliv medlem</a></li>
    </ul>
  </div>
</MainLayout>
