---
import "..//styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sitemap - Dyreværnet"
  splash_title="Sitemap"
  imgPath="/splash/splash-adopter.webp"
>
  <div class="max-w-6xl mx-auto p-10 md:p-0">
    <h2>Dyreværnet - Sitemap</h2>
    <ul class="grid lg:grid-cols-2">
      <div class="grid gap-2">
        <li>
          <a href="https://3sem-eksamensprojekt-redesign.netlify.app/"
            >Forside</a
          >
        </li>
        <li>
          <a href="https://3sem-eksamensprojekt-redesign.netlify.app/adopter/"
            >Adopter</a
          >
        </li>
        <li>
          <a href="https://3sem-eksamensprojekt-redesign.netlify.app/indlever/"
            >Indlever</a
          >
        </li>
        <li>
          <a
            href="https://3sem-eksamensprojekt-redesign.netlify.app/rodgivning/"
            >Rådgivning</a
          >
        </li>
        <li>
          <a href="#">Anmeld dyreværnssag</a>
        </li>
        <li>
          <a href="https://3sem-eksamensprojekt-redesign.netlify.app/om/"
            >Om Dyreværnet</a
          >
        </li>
        <li>
          <a href="https://3sem-eksamensprojekt-redesign.netlify.app/stot/"
            >Støt</a
          >
          <ul class="pl-4">
            <li>
              <a
                href="https://3sem-eksamensprojekt-redesign.netlify.app/donation/"
                >Donation</a
              >
            </li>
          </ul>
        </li>
      </div>
      <div class="grid gap-2">
        <li><a href="#">TV</a></li>
        <li><a href="#">Frynseklinikken</a></li>
        <li><a href="#">Dyreklinik</a></li>
        <li><a href="#">Hittedyr</a></li>
        <li><a href="#">Hundepension</a></li>
        <li><a href="#">Bliv sponsor</a></li>
        <li><a href="#">Bliv medlem</a></li>
      </div>
    </ul>
  </div>
</MainLayout>
