---
import MainLayout from "../layouts/MainLayout.astro";
import DonationCard from "../components/DonationCard.astro";
import "..//styles/style.css";
---

<MainLayout
  title="Støt - Dyreværnet"
  splash_title="Støt dyrene"
  splash_description="Din støtte bidrager til, at dyrene får den pleje, mad og medicin, de har brug for. Hver enkelt bidrag gør en forskel og er med til at redde flere liv."
  imgPath="/splash/splash-stoet.webp"
  intro_title="Støt dyrene og gør en forskel!"
  intro_description="Dyreværnet har brug for din hjælp til at sikre dyrenes velfærd. Støt vores arbejde og red og beskyt hjemløse dyr, så de får en chance for et bedre liv."
  metacontent="Støt vores dyrevelfærdsindsats gennem en donation og hjælp os med at redde og forbedre livene for dyr i nød."
>
  <section
    class="grid gap-8 lg:grid-cols-3 lg:justify-center max-w-6xl mx-auto"
  >
    <DonationCard
      title="Donation"
      description="Vil du hjælpe Dyreværnet med at redde dyr? Vælg mellem enkelt, månedlig eller virksomhedsdonation og vær med til at redde dyreliv."
      imgPath="/stot/stot-kat-1.webp"
      link_side="/donation"
    >
      LÆS MERE
    </DonationCard>
    <DonationCard
      title="Betænk dyrene i testamentet"
      description="Testamentariske gaver er meget vigtige for Dyreværnets arbejde og eksistens. Vi kan hjælpe med oprettelse af testamente."
      imgPath="/stot/stot-hunde-2.webp"
      link_side="/donation"
    >
      LÆS MERE
    </DonationCard>

    <DonationCard
      title="Indsamling via Facebook"
      description="På Facebook kan du nemt samle penge ind til Dyreværnets hunde, katte, kaniner & smådyr"
      imgPath="/stot/stot-kaniner-3.webp"
      link_side="/donation"
    >
      LÆS MERE
    </DonationCard>
  </section>
</MainLayout>
