---
import Button from "../components/Button.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";

import Card from "../components/Card.astro";
import "..//styles/style.css";
import SecondLayout from "../layouts/SecondLayout.astro";
---

<SecondLayout>
  <Button variant="primary_blue" size="medium">FIND KÆLEDYR</Button>
  <Button variant="primary_green" size="medium">FIND KÆLEDYR</Button>
  <Button variant="secondary" size="small">NÆSTE</Button>
</SecondLayout>
<!-- Test variable-button -->
