---
import Button from "./Button.astro";
import "../styles/style.css";
---

<section class="bg-primary_black">
  <div class="max-w-6xl mx-auto text-primary_white gap-x-24 grid md:grid-cols-3 p-10 lg:p-0 lg:py-10">
    <article class="grid md:col-start-1">
      <div>
        <h4 class="pb-2">KONTAKT</h4>
        <div class="flex gap-4 pb-2">
          <img src="../ikoner/telefon.svg" alt="telefon-info" width="15" />
          <p>+45 44 94 66 96</p>
        </div>
        <div class="flex gap-4 pb-2">
          <img src="../ikoner/mail.svg" alt="mail-info" width="15" />
          <p>Info@dyrevaernet.dk</p>
        </div>
        <div class="flex gap-4 pb-2">
          <img src="../ikoner/lokation.svg" alt="lokation-info" width="15" />
          <p>Islevdalvej 85, 2610 Rødovre</p>
        </div>
      </div>

      <div class="pt-10 md:pt-2">
        <h4 class="pb-2">TELEFONTID</h4>
        <p>Man-fre: 9.30 - 12.00</p>
        <p>Lør-søn: Lukket</p>
      </div>
    </article>

    <article class="grid md:col-start-2 pt-10 md:pt-0">
      <div>
        <h4 class="pb-2">ÅBNINGSTIDER</h4>
        <p>Mandag: Lukket</p>
        <p>Tirsdag: 09.00 - 11.00</p>
        <p>Ons, tors, fre: 5.00 - 17.00</p>
        <p>Lør, søn, helligdage: 12.00 - 16.00</p>
        <p>24., 25., 26., 31., dec., 1. jan: Lukket</p>
      </div>

      <div class="pt-12">
        <h4 class="pb-2">TILMELD DIG VORES NYHEDSBREV</h4>
        <p class="pb-2">Tilmeld vores nyhedsbrev og få spændende nyheder og muligheder for at hjælpe dyrene.</p>
        <div class="flex gap-2">
          <div class="bg-primary_white text-gray-500 rounded-lg w-full">
            <p class="items-center p-2">Indtast din e-mail</p>
          </div>
          <Button variant="primary_blue" size="mini">TILMELD</Button>
        </div>
      </div>
    </article>

    <article class="grid md:col-start-3 pt-10 md:pt-2">
      <div>
        <div class="flex gap-2 items-center">
          <img src="../ikoner/trustpilot.svg" alt="trustpilot-ikon" width="30" />
          <h4 class="">TRUSTPILOT</h4>
        </div>
        <p>Anmeldelser 272 • Fremragende</p>

        <div class="rating gap-4 pt-2 flex">
          <img src="../ikoner/trustpilot-stjerner.svg" alt="trustpilo-stjerner" />
          <p>4,7</p>
        </div>
      </div>

      <div class="pt-12">
        <div class="">
          <h4 class="pb-2">FØLG OS HER</h4>
        </div>
        <div class="pt-2 flex gap-2">
          <a href="https://www.facebook.com/dyrevaernet.dk">
            <img class="ikon" src="../ikoner/facebook.svg" alt="facebook-ikon" width="50" />
          </a>
          <a href="https://www.instagram.com/dyrevaernet/">
            <img class="ikon" src="../ikoner/insta.svg" alt="instagram-ikon" width="50" />
          </a>
          <a href="https://www.youtube.com/@Dyrevaernet">
            <img class="ikon" src="../ikoner/yt.svg" alt="youtube-ikon" width="50" />
          </a>
          <a href="https://www.linkedin.com/company/dyrev-rnet/">
            <img class="ikon" src="../ikoner/linkedin.svg" alt="linkedin-ikon" width="50" />
          </a>
        </div>
      </div>
    </article>
  </div>

  <article class="bg-secondary_black text-primary_white p-2 text-heading-5">
    <div class="flex justify-center gap-4 lg:gap-30">
      <p>Cookie- og privatlivspolitik</p>
      <p>CVR: 33 31 73 28</p>
      <p>All rights reserved</p>
    </div>
  </article>
</section>
