<header>
  <nav>
    <div>
      <!-- topbar -->

      <div class="list-none bg-primary_blue py-2">
        <ul class="flex justify-end gap-6 lg:text-primary_white text-primary_blue lg:max-w-6xl lg:mx-auto">
          <li>TV</li>
          <li>FRYNSEKLINIKKEN</li>
          <li>DYREKLINIK</li>
          <li>HITTEDYR</li>
          <li>HUNDEPENSION</li>
          <li>BLIV SPONSOR</li>
          <li>BLIV MEDLEM</li>
        </ul>
      </div>

      <div class="px-10 py-5 lg:pt-0">
        <div class="flex">
          <div class="flex-1 lg:hidden">
            <a href="/index">
              <img class="" src="/ikoner/logo.svg" alt="logo_dyrevaernet" height="48" width="48" />
            </a>
          </div>

          <!-- burgermenu -->

          <div class="lg:hidden flex gap-6">
            <button class="hamburger z-50">
              <img class="menuIcon" src="/ikoner/burgermenu-open.svg" alt="burgermenu" height="22" width="34" />
              <img class="closeIcon hidden" src="/ikoner/burgermenu-close.svg" alt="burgermenu-luk" width="34" height="22" />
            </button>
          </div>
        </div>
      </div>
      <ul class="fixed top-0 text-primary_black z-40 bg-primary_white w-full max-h-screen translate-x-full text-left transition-transform" id="hammenu">
        <div class="p-6 leading-loose h-screen grid px-10">
          <ul class="grid items-end mb-4">
            <li>
              <a href="/index">
                <img class="" src="/ikoner/logo.svg" alt="logo_dyrevaernet" height="48" width="48" />
              </a>
            </li>
          </ul>
          <ul>
            <li class="heading-2">
              <a class="menuItem" href="/adopter">Adopter</a>
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/indlever">Indlever</a>
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/rodgivning">Rådgivning</a>
            </li>
            <li class="heading-2">
              <a class="menuItem whitespace-nowrap" href="#">Anmeld dyreværnssag</a>
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/om">Om Dyreværnet</a>
            </li>
          </ul>
          <ul class="flex gap-6 row-start-3">
            <li>
              <a href="https://www.facebook.com/dyrevaernet.dk">
                <img class="" src="/ikoner/facebook.svg" alt="facebook-logo" height="36" width="36" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/dyrevaernet/">
                <img class="" src="/ikoner
