---
import "../styles/style.css";
import Button from "..//components/Button.astro";
---

<header>
  <nav class="navbar">
    <div>
      <!-- topbar -->

      <div class="list-none bg-primary_blue py-2">
        <ul
          class="flex justify-end gap-6 lg:text-primary_white text-primary_blue lg:max-w-6xl lg:mx-auto"
        >
          <li>TV</li>
          <li>FRYNSEKLINIKKEN</li>
          <li>DYREKLINIK</li>
          <li>HITTEDYR</li>
          <li>HUNDEPENSION</li>
          <li>BLIV SPONSOR</li>
          <li>BLIV MEDLEM</li>
        </ul>
      </div>

      <div class="px-10 py-5 lg:pt-0">
        <div class="flex">
          <div class="flex-1 lg:hidden">
            <a href="index.html"
              ><img
                class=""
                src="/ikoner/logo.svg"
                alt="logo_dyrevaernet"
                height="48"
                width="48"
              /></a
            >
          </div>

          <!-- burgermenu -->

          <div class="lg:hidden flex gap-6">
            <Button variant="primary_green" size="small" link_side="/stot">
              STØT
            </Button>
            <button class="hamburger z-50">
              <img
                class="menuIcon"
                src="/ikoner/burgermenu-open.svg"
                alt="burgermenu"
                height="22"
                width="34"
              />
              <img
                class="closeIcon hidden"
                src="/ikoner/burgermenu-close.svg"
                alt="burgermenu-luk"
                width="34"
                height="22"
              />
            </button>
          </div>
        </div>
      </div>

      <div
        class="fixed top-0 text-primary_black z-40 bg-primary_white w-full max-h-screen translate-x-full text-left transition-transform"
        id="hammenu"
      >
        <div class="p-6 leading-loose h-screen grid px-10">
          <ul class="grid items-end mb-4">
            <a href="index.html"
              ><img
                class=""
                src="/ikoner/logo.svg"
                alt="logo_dyrevaernet"
                height="48"
                width="48"
              /></a
            >
          </ul>
          <ul>
            <li class="heading-2">
              <a class="menuItem" href="/adopter">Adopter</a>
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/indlever">Indlever</a>
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/rodgivning">Rådgivning</a>
            </li>
            <li class="heading-2">
              <a class="menuItem whitespace-nowrap" href="#"
                >Anmeld dyreværnssag</a
              >
            </li>
            <li class="heading-2">
              <a class="menuItem" href="/om">Om Dyreværnet</a>
            </li>
          </ul>
          <ul class="flex gap-6 row-start-3">
            <li>
              <a href="https://www.facebook.com/dyrevaernet.dk"
                ><img
                  class=""
                  src="/ikoner/facebook.svg"
                  alt="facebook-logo"
                  height="36"
                  width="36"
                /></a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/dyrevaernet/"
                ><img
                  class=""
                  src="/ikoner/insta.svg"
                  alt="instagram-logo"
                  height="36"
                  width="36"
                /></a
              >
            </li>
            <li>
              <a href="https://www.youtube.com/@Dyrevaernet"
                ><img
                  class=""
                  src="/ikoner/yt.svg"
                  alt="youtube-logo"
                  height="36"
                  width="36"
                /></a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/company/dyrev-rnet/"
                ><img
                  class=""
                  src="/ikoner/linkedin.svg"
                  alt="linkedin-logo"
                  height="36"
                  width="36"
                /></a
              >
            </li>
          </ul>

          <ul class="underline">
            <li>TV</li>
            <li>FRYNSEKLINIKKEN</li>
            <li>DYREKLINIK</li>
            <li>HITTEDYR</li>
            <li>HUNDEPENSION</li>
            <li>BLIV SPONSOR</li>
            <li>BLIV MEDLEM</li>
          </ul>
        </div>
      </div>

      <!-- Desktopmenu  -->

      <div
        class="hidden lg:flex justify-between lg:max-w-6xl lg:mx-auto lg:pb-5"
      >
        <div class="flex">
          <a href="index.html"
            ><img
              src="/ikoner/logo.svg"
              alt="logo_dyrevaernet"
              height="48"
              width="48"
            /></a
          >
        </div>

        <ul class="flex gap-6 items-center">
          <li class="uppercase">
            <a href="/adopter">adopter</a>
          </li>
          <li class="uppercase">
            <a href="/indlever">indlever</a>
          </li>
          <li class="uppercase">
            <a href="/rodgivning">rådgivning</a>
          </li>
          <li class="uppercase">
            <a href="#">andmeld dyreværnssag</a>
          </li>
          <li class="uppercase">
            <a href="/om">om dyreværnet</a>
          </li>

          <li>
            <Button variant="primary_green" size="small" link_side="/stot">
              STØT
            </Button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  /* Hover effekt */
  li:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .navbar ul li a.active {
    background-color: purple;
  }

  .navbar a.active {
    background-color: purple;
  }
</style>

<script src="../js/main.js"></script>
